doctype html
html
	head
		title= title
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel='stylesheet', href='stylesheets/preview.css')

		//- link(rel='stylesheet', href='public/stylesheets/style.css')
		//- link(rel='stylesheet', href='public/stylesheets/preview.css')

		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400' rel='stylesheet' type='text/css')
	
	body
		block content